
@font-face {
    font-family: 'ProFont';
    src: url('./fonts/ProFontWindowsNerdFontMono-Regular.ttf') format('woff');
}


body {
    background-color: #020302;
    font-family: FreeSans;
}


.text {
    font-size: small;
    color: #cf768a;
    text-align: center;
    font-family: 'ProFont';
}


.square {
    top: 50%;
    left: 50%;
    height: 300px;
    width: 800px;
    background-color: #302025;
    transform: translate(-50%, 100%);
    position: absolute;
    border: 2px solid #cf768a;
    border-radius: 3px;
}


.container {
    position: relative;
    justify-content: center;
}

.image {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}